.blogCard {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.75rem;
    word-wrap: break-word;
    transition: transform 0.15s ease;
    width: 50%;
    opacity: 0;
    animation: blogCardSlideUp 0.3s ease-in forwards;
    transform-style: preserve-3d;
}

.blogCard:hover {
    background-color: var(--blog-container-hover);
}

.blogCard:active {
    transform: scale(0.98);
}

.blogCard:focus {
    outline: 2px solid var(--blog-container-focus);
}

.blogCardDate {
    font-size: 0.9rem;
    opacity: 0.5;
    font-family: "Departure Mono", monospace;
}

.blogCardDescription {
    font-size: 0.9rem;
    opacity: 0.5;
    margin: 5px 0;
}

.blogCardReadTime {
    color: var(--blog-reading-time);
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Departure Mono", monospace;
}

@media (max-width: 768px) {
    .blogCard {
        width: 100%;
    }
}

@keyframes blogCardSlideUp {
    from {
        opacity: 0;
        translate: 0 10px;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}
