.homeContainer {
    animation: load 0.5s;
}

@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.homeContainer code {
    font-size: 0.9rem;
    padding: 2px 5px;
    border-radius: 2px;
}

.homeHighlight {
    font-weight: bold;
    background-image: linear-gradient(
        45deg,
        var(--theme-one),
        var(--theme-two),
        var(--theme-three),
        var(--theme-four)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.homeHighlight::selection {
    background-color: var(--home-highlight-color);
}

.homeHeading {
    margin-top: 32px;
}

.homeCircleContainer {
    display: flex;
    gap: 1rem;
}

.homeCircle {
    border-radius: 50%;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
}

.homeWaving {
    display: inline-block;
    margin: 1rem 0;
    animation-name: wave;
    animation-duration: 3.5s;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.homeNextStepsContainer {
    margin-top: 20px;
    padding: 3px;
    border-radius: 0.75rem;
    background-image: linear-gradient(
        45deg,
        var(--theme-one),
        var(--theme-two),
        var(--theme-three),
        var(--theme-four)
    );
    opacity: 0;
    animation: load 1s forwards;
    animation-delay: 0.5s;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}

.homeNextSteps {
    background-color: var(--home-next-steps-background);
    border-radius: 0.75rem;
    padding: 1rem;
}

.homeNextSteps p {
    margin-top: 0;
}

.homeNextSteps a {
    margin-bottom: 10px;
}

.homeLink {
    color: var(--link-color);
}

.homeLink:hover {
    text-decoration: underline;
}

.homeUl li::marker {
    color: var(--li-marker);
}

.homeSmallParagraph {
    font-size: 1rem;
    margin-bottom: 10px;
}

.homeViewAll {
    font-size: 1rem;
    color: inherit;
    background: var(--view-all-background);
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid var(--view-all-background);
}

.homeViewAll:hover {
    border-color: var(--view-all-background-hover);
}

@media (min-width: 1024px) {
    .homeHeading {
        flex-direction: row;
    }
}

.homeAboutTitle {
    font-family: "Handwriting";
}

.homeLinksTitle {
    font-family: "Handwriting";
}

.homeBlogsContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}

.homeBlogContainer {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.75rem;
    word-wrap: break-word;
    transition: transform linear 0.1s;
    width: 50%;
    opacity: 0;
    animation: load-slide-up 0.3s ease-in forwards;
}

.homeBlogContainer:hover {
    background-color: var(--blog-container-hover);
}

.homeBlogContainer:active {
    transform: scale(0.98);
}

.homeBlogContainer:focus {
    outline: 2px solid var(--blog-container-focus);
}

.homeBlogDate {
    font-size: 0.9rem;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .homeBlogsContainer {
        flex-direction: column;
    }

    .homeBlogContainer {
        width: 100%;
    }
}

@keyframes load-slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.homeBlogContainer:nth-child(1) {
    animation-delay: 0.1s;
}

.homeBlogContainer:nth-child(2) {
    animation-delay: 0.2s;
}

.homeBlogContainer:nth-child(3) {
    animation-delay: 0.3s;
}
